*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top:0;
    z-index: 999;
    height: 50px;
    background: #db1b7c;
  }
  
  nav{
    width:100%;
  }

  nav ul li:first-child{
    margin-left:-26%;
  }

  nav ul{
    text-align: center;
    margin-left: 30%;
  }
  
  /* list style none remove all the styles such as radios from the list*/
  nav ul li {
    list-style-type: none;
    float: left;
    margin:0 5px;
    line-height: 50px;
  }

  nav ul li a:hover, .active{
    border-bottom: 5px solid #ff9914;
  }

  a.logo:hover{
    border-bottom: 0;
  }  

  nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height:45px;
    padding:0 15px;
  }

  @media (max-width: 1000px){
    header{
      height:300px;
    }

    nav ul li{
      border-top:1px solid gray;
      float:none;
      margin:0;
    }

    nav ul{
      margin:0;
    }

    nav ul li:first-child{
      margin-right:180px;
      font-size: 1.5rem;
    }
  }

  @media (max-width:768px){
    header{
      position: static;
    }
  }

  @media (max-width:700px){
    nav ul li a.logo{
      position:sticky;
      top:0;
      left:10px;
    }
  }

  @media (max-width:468px){
    nav ul li:first-child{
      font-size: 1rem;
    }
  }